/* online mode */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

/* offline mode */
@import url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
@import url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);

:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);

    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);

    --brown800: hsl(14, 45%, 36%);

    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);

    /* Typography */

    /* Font size */
    --paragraph: 1rem;

    /* Font style */
    --young-serif: "Young Serif", serif;
    --outfit: "Outfit", system-ui;

    /* Font weights */
    --font-normal: 400;
    --font-semibold: 600;
    --font-bold: 700;
}


* {
    font-family: var(--outfit);
}

img {
    width: 100%;
    border-radius: 1rem;
}

body {
    background-color: var(--stone100);
    margin: 0;

    .content {
        padding: 2rem;
        border-radius: 2rem;
        margin: 10% 25% 10% 25%;
        align-items: center;
        background-color: var(--white);
    }

    h1 {
        color: var(--stone900);
    }

    h2 {
        color: var(--brown800);
    }
}

h1,
h2 {
    font-family: var(--young-serif);
}

.preparation-box {
    background-color: var(--rose50);
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem 1.5rem;

    h3 {
        color: var(--rose800);
        font-weight: var(--font-bold);
    }

    li {
        margin-left: -1rem;
        padding: 0.5rem 0rem 0.5rem 1rem;
    }
}

.ingredients,
.instructions {
    border-bottom: solid 0.1rem var(--stone150);

    .ingredient,
    .instruction {
        margin-left: -1rem;
        padding: 0.5rem 0rem 0.5rem 0.5rem;
    }
}

li {
    color: var(--stone600);
}

.titles,
.units {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.nutritions {
    display: flex;
    flex-direction: row;
    margin-left: 0.25rem;
}

.units {
    color: var(--brown800);
    font-weight: var(--font-bold);
}

p.Calories,
p.Carbs,
p.Protein,
p.Fat,
p.unit {
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    margin-bottom: 0;
}

p.Calories,
p.Carbs,
p.Protein,
p.Fat,
p.description {
    color: var(--stone600);
}

.border {
    height: 0.1rem;
    background-color: var(--stone150);
}

p.Fat,
#last {
    border: hidden;
}

.attribution {
    font-family: var(--outfit);
    font-size: var(--paragraph);
    text-align: center;

    a {
        color: var(--rose800);
    }
}

/* Responsive design */
@media (max-width: 480px) {
    body {
        h1 {
            font-weight: var(--font-normal);
        }

        .content {
            border-radius: 0;
            padding: 0;
            margin: 0;
        }

        .recipe {
            padding: 1rem;
        }

        img {
            border-radius: 0;
        }
    }
}